.partners-page {
  .empty-list {
    padding: 50px;
    text-align: center;
    background: #8080801f;
    border-radius: 10px;
  }
  .partners-form-search {
    display: flex;
    align-items: flex-end;
    .submit-btn {
      background-color: #3e48a6;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-width: 2px;
      border-style: solid;
      border-color: #3e48a6;
      color: white;
      font-size: 16px;
      padding: 0px 30px;
      height: 32px;
      margin-left: 20px;
      &:hover{
        background-color: white;
        color: #3e48a6;
      }
    }
    .MuiInputLabel-formControl {
      font-size: 16px;
    }
  }
  .partner-view {
    border: 1px solid #dee2e6;
    .basic-name {
      font-weight: 500;
      font-size: 18px;
    }
    .partner-field {
      .partner-field-label {
        font-weight: 400;
      }
      .partner-field-value {
        font-weight: 300;
        margin-left: 5px;
      }
    }
    .partner-item-info-column {
      border-left: 1px solid #dee2e6;
      position: relative;
      &:hover {
        .partner-item-hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .partner-item-hover {
      @media (min-width: 577px) {
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 1s ease-out;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        background: #fff;
        z-index: 11;
        transition: 0.25s;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 576px) {
  .partners-page {
    .partner-image-container {
      padding: 20px;
    }
    .partner-item-info,
    .partner-offices {
      padding: 16px;
    }
  }
}
